annyeonghaseyo*.gem
*.rbc
*.iml
.bundle
.config
.idea/
.yardoc
.rakeTasks
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
out/
pkg
rdoc
spec/reports
test/tmp
spec/tmp
test/version_tmp
tmp
.kitchen
